/* Home.css */
.home-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.github-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.welcome-text {
  font-size: 45px !important;
  text-align: center;
}

.subtitle-text {
  font-size: 34px !important;
  text-align: center;
}

@media (max-width: 1024px) {
  .welcome-text {
    font-size: 42px !important;
  }

  .subtitle-text {
    font-size: 34px !important;
  }
}

@media (max-width: 768px) {
  .github-image {
    max-width: 350px;
  }

  .welcome-text {
    font-size: 40px !important;
  }

  .subtitle-text {
    font-size: 32px !important;
  }
}

@media (max-width: 600px) {
  .github-image {
    max-width: 280px;
  }

  .welcome-text {
    font-size: 34px !important;
  }

  .subtitle-text {
    font-size: 20px !important;
  }
}

@media (max-width: 480px) {
  .github-image {
    max-width: 220px;
  }

  .welcome-text {
    font-size: 30px !important;
  }

  .subtitle-text {
    font-size: 18px !important;
  }
}

@media (max-width: 360px) {
  .github-image {
    max-width: 180px;
  }

  .welcome-text {
    font-size: 25px !important;
  }

  .subtitle-text {
    font-size: 12px !important;
  }
}
