/* Default (Light Mode) */
:root {
  --bg-color: white;
  --text-color: black;
}

/* Dark Mode */
[data-theme="dark"] {
  --bg-color: rgb(46, 44, 44);
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0px;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Navbar Styling */
.navbar {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.theme-toggle {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--bg-color);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.theme-toggle:hover {
  opacity: 0.8;
}
